@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background: #334155;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #334155;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}

.organizers {
  display: flex;
  justify-content: space-around;
}

.organizers > img {
  width: 250px;
}

.sponsor_logo {
  width: 120px;
  margin-left: 5px;
}

#gold {
  background-image: linear-gradient(
    to right,
    #cb9b51 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #cb9b51 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

#mouse_logo {
  margin-top: 32px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.container {
  display: "flex";
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.slotcontainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.slot {
  display: none;
  opacity: 0;
  width: 70px;
  height: 100px;
  text-align: center;
  font-size: 84px;
  font-family: verdana;
  line-height: 100px;
  overflow: hidden;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

.visible {
  display: inline-block !important;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#lucky {
  display: none;
  transition: all 0.5s ease-in;
  text-align: center;
}

#btn {
  font-size: 80px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

@keyframes slide {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
