@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background: #157565;
  color: #000;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #334155;
  text-align: center;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.header > h1 {
  font-size: 5rem;
}

.organizers {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem;
}

.organizers > img:nth-child(1) {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.organizers > img:nth-child(2) {
  width: 250px;
  object-fit: contain;
}
.sponsor_logo {
  width: 120px;
  margin-left: 5px;
}

.social_media_links > img {
  width: 30px;
}

.highlight {
  color: #e2bb00;
}

#number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

#number > input {
  width: 200px;
  text-align: center;
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 10px;
}

#number > input:focus {
  outline: none;
}

#mouse_logo {
  margin-top: 32px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.container {
  display: "flex";
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.slotcontainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.slot {
  display: inline-block;
  opacity: 0;
  width: 70px;
  height: 100px;
  text-align: center;
  font-size: 7em;
  line-height: 100px;
  overflow: hidden;
  transition: opacity 1s ease-in;
  /* animation: slide 1s forwards;
  animation-delay: 0.5s; */
}

.visible {
  opacity: 1;
}

#lucky {
  display: block;
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.btn {
  font-size: 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:hover {
  color: #e2bb00;
}

@keyframes slide {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
